body {
    background-color: beige;
}

h1 {
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}